#Project
venv/
applications/__pycache__/*

#Airflow
applications/airflow/dags/__pycache__/*

#Spark 
src/notebooks/configs/.ipynb_checkpoints/*
src/notebooks/functions/.ipynb_checkpoints/*
src/notebooks/.ipynb_checkpoints/*

#Python
src/python
__pycache__
__pycache__/
.ipynb_checkpoints/*

#Portainer
applications/portainer/portainer_data

#Open Metadata
applications/open_metadata/docker-volume/*
applications/open_metadata/docker-volume

#Terraform
terraform/key_gcp.json
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/4.51.0/linux_amd64/terraform-provider-google_v4.51.0_x5

#Proxy Manager
applications/nginx_proxy_manager/letsencrypt/*
applications/nginx_proxy_manager/data/*


applications/airflow/dags/__pycache__/airflow-dag-hello.cpython-37.pyc
applications/airflow/dags/__pycache__/dag_adventure_works.cpython-37.pyc
applications/airflow/dags/__pycache__/dag_s3.cpython-37.pyc
applications/airflow/dags/__pycache__/hello.cpython-37.pyc
applications/airflow/dags/__pycache__/sample_employee.cpython-37.pyc
applications/airflow/dags/__pycache__/taskflow_api.cpython-37.pyc
applications/airflow/dags/__pycache__/sample_employee.cpython-37.pyc
src/notebooks/examples/.ipynb_checkpoints/107_spark_sql-checkpoint.ipynb
